# Игнорируем виртуальное окружение
venv/

# Игнорируем файлы с секретами (если такие есть)
config.py

# Игнорируем логи
*.log

# Игнорируем файлы операционной системы
*.swp
.DS_Store

user_memories/
torch_env/
__pycache__/
    